.crossale {
  &__heading {
    line-height: 1;
    margin-bottom: rem(45px);

  }

  &__category {
    margin: rem(5px 0);


    &--expanded {
      .crossale__subheading {
        // background-color: $bg-dark;
        // color: #fff;

        &::before {
          transform: rotate(-180deg);
          transition: 150ms;
        }
      }

    }
  }


  &__subheading {
    font-size: rem(20px);
    background-color: #fff;
    padding: rem(18px);
    padding-left: rem(25px);
    cursor: pointer;
    margin-bottom: 0;



    &::before {
      content: '';
      background-image: url(../img/icons/chevron-down.svg);
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: rem(15px);
      vertical-align: middle;
      transition: 150ms;
      width: 15px;
      height: 10px;
    }

    &:hover {
      text-decoration: underline;
      color: #fff;
      background-color: $bg-dark;
      transition: 150ms;

      &::before {
        // filter: brightness(2);
        transition: 150ms;
      }

    }
  }

  &__dropdown {
    display: none;
    background: #fff;
  }

  &__list {
    padding: rem(0px 30px);
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: rem(20px 0);
    border-top: 1px solid $border-main;

    &:first-of-type {
      border: none;
    }

    &--unavailable {
      .crossale__title {
        color: $text-light;
      }

      .crossale__price {
        color: $text-light;
        font-weight: normal;
      }

      .crossale__buy {
        background: $bg-light;
        color: $text-light;
        border: 1px solid $border-main;

      }

      .crossale__availability {
        color: $text-light;
      }

      .crossale__link {
        color: $text-light;

        &:hover {
          color: $text-light;
          text-decoration: none;
        }
      }

      .crossale__img {
        background-color: #f0efed;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 67px;
    height: 67px;
    flex: 0 0 5.83%;
    margin-right: rem(45px);
    border: 1px solid $border-main;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-down(md) {
      margin: 0;
      margin-bottom: 10px;
      min-height: 67px;
    }
  }

  &__title {
    color: $text-color;
    font-size: rem(15px);
    flex: 0 0 39%;
    margin-right: auto;

    @include media-breakpoint-down(md) {
      margin: auto;
    }
  }

  &__link {
    color: $text-color;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      font-size: rem(20px);
      line-height: 1.15;
    }

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__availability {
    color: $text-color;
    font-size: rem(13px);
    flex: 0 0 12%;
  }

  &__price {
    color: $highlight;
    font-weight: bold;
    font-size: rem(30px);
    flex: 0 0 11%;
    text-align: right;
    margin-right: auto;

    span {
      color: $text-light;
      font-weight: normal;
      font-size: rem(20px);
      font-family: 'Source Sans Pro', sans-serif;
    }

    @include media-breakpoint-down(md) {
      margin: auto;
    }
  }

  &__buy {
    @extend .btn-main;
    font-size: rem(15px);
    padding: rem(12.5px 19.3px);

    &::before {
      width: 104%;
      height: 110%;
    }


    @include media-breakpoint-down(md) {
      width: 100%;
      margin-top: 10px;

      &::before {
        width: 101%;
      }
    }
  }
}