.pick {
  &__heading {
    margin-bottom: rem(40px);
  }

  &__plus,
  &__equal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include media-breakpoint-down(md) {
      margin-bottom: 1.5625rem;
      height: auto;
    }
  }

  &__buy {
    padding: rem(50px 90px 60px 90px);
    background-color: #fff;
    text-align: center;
    height: 100%;
    z-index: 100;
    position: relative;

    @include media-breakpoint-down(lg) {
      padding: rem(60px 65px);
    }

    @include media-breakpoint-down(md) {
      max-width: 250px;
      padding: 20px;
      margin: auto;
    }
  }

  &__size {
    font-size: rem(30px);
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: rem(24px);
  }

  &__info {
    color: $text-light;
    font-size: rem(20px);
    margin-bottom: rem(24px);
    line-height: 1.15;
  }

  &__price {
    color: $highlight;
    font-size: rem(60px);
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: rem(4px);

    span {
      color: $text-light;
      font-size: rem(30px);
      font-weight: normal;
      font-family: 'Source Sans Pro', sans-serif;
    }

  }

  &__oldprice {
    margin-bottom: rem(40px);
    line-height: 1.15;
    color: $text-light;
    text-decoration: line-through;
  }

  &__select {
    @extend .btn-main;
    font-size: rem(13px);
    font-weight: 400;
    padding: rem(10px 22px);
    width: 100%;


    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .product {
    @include media-breakpoint-down(md) {
      max-width: 250px;
      margin: auto;
      margin-bottom: 1.5625rem;
      display: block;
      text-align: center;
    }
  }
}