.form {
  &-label {
    color: $text-color;
    font-size: rem(17px);
    margin-bottom: rem(10px);
  }

  &-input {
    border-radius: 0px;
    border: 1px solid $border-main;
    background-color: #ffffff;
    padding: rem(12px 15px);
    height: auto;
    color: $text-color;
    font-size: rem(13px);
    line-height: 1;
    appearance: none;

    &:focus {
      color: $text-color;
      border: 1px solid $border-dark;
      outline: none;
    }

    option {
      background-color: #fff;
      color: $text-color;
      font-size: rem(13px);
    }
  }


}

.captcha {

  &__label {
    @extend .feedback__label;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;


    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__img {
    display: inline-block;

  }

  &__input {
    @extend .feedback__input;
    display: inline-block;
    width: 160px;
    margin: 0 30px;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 15px;
    }
  }


}

.custom-control-label {
  transition: 250ms;
  color: $text-color;
  font-size: rem(15px);

  &::before {
    width: 20px;
    height: 20px;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: 1px solid $border-main;
    top: 1px;
    transition: 250ms;

  }

  &:hover {
    color: $text-color;
    font-weight: bold;

    &::before {
      border: 1px solid $border-dark;
      transition: 250ms;
    }
  }
}

.custom-radio .custom-control-label {
  &::before {
    top: 50%;
    transform: translate(0, -50%);

    // @include media-breakpoint-down(md) {
    //   top: 2px;
    // }
  }

}




.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-control-input:checked~.custom-control-label {
  color: $text-color;

  &::before {
    border: 1px solid $bg-dark;
    background: $bg-dark;
    box-shadow: none;
  }
  
  .features__heading {
    font-weight: bold;
  }
}

.custom-radio .custom-control-label {
  font-size: rem(15px);


  &:hover {
    font-weight: normal;
  }
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
  background-image: none;
  width: 6px;
  height: 6px;
  background: $highlight-light;
  left: -17px;
  // top: 11px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;

  // @include media-breakpoint-down(md) {
  //   left: -14px;
  //   top: 9px;
  // }
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
  border-color: 1px solid $bg-dark;
}


.custom-checkbox .custom-control-label:after {
  top: -2px;
  left: -1.6rem;
  width: 1.5rem;
  height: 1.5rem;

  @include media-breakpoint-down(md) {
    // top: 0px;
    // left: -21px;
  }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='12px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(217, 184, 152)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M12.999,2.786 L5.797,9.890 C5.711,9.970 5.603,10.010 5.496,10.010 C5.388,10.010 5.280,9.970 5.194,9.890 L0.993,5.786 ' /%3E%3C/svg%3E");
}

input,
textarea,
select {
  @extend .form-input;
  border-radius: 0 !important;
}

select {
  background-image: url(../img/icons/chevron-down.svg) !important;
  background-size: 16px 11px !important;
  background-position: 98% !important;
  background-repeat: no-repeat !important;
  font-size: rem(13px);
}