.modal {
    .close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    
    .modal-body {
        padding: 0;
    }
    
    .modal-dialog {
        max-width: 400px;
    }
    
    .modal-title {
        color: #262626;
font-size: 30px;
        margin-bottom: 50px;
        line-height: 1;
    }
}

#cheaper-modal {
        .modal-dialog {
        max-width: 500px;
    }
}