.modal {
  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
  }

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    max-width: 400px;
  }

  .modal-title {
    color: $text-color;
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 1;
    font-weight: bold;
  }

  .modal-content {
    border: none;
    box-shadow: $shadow;
    border-radius: 0;
  }
}

.modal-backdrop {
  background-color: rgba($bg-lighter, 0.9);
}


.basket-modal {

  .modal-dialog {
    max-width: 970px;
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
  }
}


#cheaper-modal {
  .modal-dialog {
    max-width: 500px;
  }
}