.pagination {
  display: flex;
  background: #fff;

  &__link {
    color: $text-color;
    font-weight: bold;
    font-size: rem(13px);
    line-height: 1.15;
    padding: rem(17.5px 45px);
    display: flex;
    justify-content: center;
    align-content: center;
    border-right: 1px solid $border-main;


    &:hover {
      text-decoration: underline;
      color: $text-color;

      &::before,
      &::after {
        filter: none;
      }
    }

    &:last-child {
      border-right: none;
    }

    &--start,
    &--next {
      flex: 1 1 20%;

      @include media-breakpoint-only(lg) {
        padding: rem(17.5px 25px);
      }

      @include media-breakpoint-down(md) {
        font-size: 0;
        flex: 1 1 10%;
      }

    }

    &--start {
      @extend .link-prev;
      // border-right: 1px solid #e6e6e6;
    }

    &--next {
      @extend .link-next;
      // border-left: 1px solid #e6e6e6;
    }

    &--active {
      color: #fff;
      background-color: $bg-dark;

      &:hover {
        color: #fff;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 30px;
      flex-grow: 1;

      &:nth-of-type(5),
      &:nth-of-type(6) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 10px;
    }


  }
}