.slider {

  &-dots {
    display: flex;
    list-style: none;
    position: absolute;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
  }

  &-dot {
    background: transparent;
    border: 2px solid rgba(#fff, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: transparent;
    padding: 0;
    margin: rem(0 10px);
    transition: 250ms;
  }

  &-dot--active {
    background-color: #fff;
    border-color: #fff;
    transition: 250ms;
  }

  &-btn {
    background: none;
    border: none;
    position: absolute;
    z-index: 100;
    transition: 150ms;
    padding: 0;

    &:hover {
      svg path {
        fill: #fff;
        transition: 150ms;
      }
    }
  }

}