.status {
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
  }

  &--processing {
    &::before {
      background-color: $highlight;
    }
  }

  &--sended {
    &::before {
      background-color: $highlight-light;
    }
  }

  &--canceled {
    &::before {
      background-color: $red;
    }
  }

  &--delivered {
    &::before {
      background-color: $green;
    }
  }

  &--finished {
    &::before {
      background-color: $bg-meddium;
    }
  }
}

.status__right {
  position: relative;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 8px;
    border-radius: 50%;
  }

  &--processing {
    &::after {
      background-color: $highlight;
    }
  }

  &--sended {
    &::after {
      background-color: $highlight-light;
    }
  }

  &--canceled {
    &::after {
      background-color: $red;
    }
  }

  &--delivered {
    &::after {
      background-color: $green;
    }
  }

  &--finished {
    &::after {
      background-color: $bg-meddium;
    }
  }
}