html {
  font-size: 100%;
}

body {
  font-family: $font-main;
  font-size: rem(15px);
  font-weight: normal;
  color: $text-color;
  background-color: $bg-main;
  overflow-x: hidden;
}

// .modal-open {
//   padding-right: 0 !important;
// }

h1 {
  font-weight: bold;
  font-size: rem(40px);
}

h2 {
  font-weight: bold;
  font-size: rem(24px);
  text-align: center;

  @include media-breakpoint-up(lg) {
    font-size: rem(30px);
  }
}

.title {
  font-weight: bold;
  font-size: rem(24px);
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: rem(30px);
  }
}

.title--bigger {
  font-size: rem(30px);

  @include media-breakpoint-up(lg) {
    font-size: rem(40px);
  }
}

.overlay {
  // background-color: rgba($bg-lighter, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  display: none;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-overlay {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 250ms;
    background-image: url(../img/general/overlay.png);
    background-position: 0 0;
  }
}

.bg-pattern {
  position: relative;
  z-index: 0;
  background-color: $bg-dark !important;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    background-image: url(../img/bg/pattern-1.png) !important;
    background-repeat: repeat;
    background-position: 0 0;
    z-index: -1;
  }
}

.shadow-on-hvr {
  transition: .25s;

  &:hover {
    box-shadow: $shadow;
  }
}

.highlight {
  color: $highlight;
  transition: color 250ms;
}

button {
  &:hover {
    svg path {
      fill: #000;
    }
  }
}

button,
input,
.form-control {
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.form-control:focus {
  background: inherit;
}

.quantity {
  color: $text-light;
}

.currency {
  font-family: $font-secondary !important;
  font-weight: normal !important;
  color: $text-light !important;
}

.currency--white {
  color: white !important;
}
