$greyed: #999999;

$lightbg: rgba(#17171a, 0.95);

$accent: #b3a18f;


$grey-100: #f0efed;
$grey-300: #e6e3e1;
$grey-400: #e7e4e2;
$grey-500: #999691;
$grey-700: #33302e;
$grey-900: #262322;
$brown-light: #d9b898;
$brown-dark: #bf9e7c;
$red: #b33c00;
$green: #6a8000;
$gradient-dark: linear-gradient(to top, #a68563, #cca885);
$gradient-light: linear-gradient(to top, #bf9e7c, #d9bea3);

$bg-main: $grey-100 !default;
$bg-lighter: $grey-300 !default;
$bg-light: $grey-400 !default;
$bg-dark: $grey-700 !default;
$bg-darker: $grey-900 !default;
$border-main: $grey-300 !default;
$border-gradient: $gradient-dark !default;
$highlight: $brown-dark !default;
$text-color: $grey-700 !default;
$text-light: $grey-500 !default;

$shadow: 0 0 15px rgba(0, 0, 0, 0.15);

$font-main: 'Trebuchet MS', BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
$font-secondary: 'Source Sans Pro', BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;