.auth {

  &__heading {
    @extend .account__subheading;
    margin-bottom: 0;
  }

  &__header {
    .link-arrow {

      @include media-breakpoint-down(md) {
        margin-top: rem(15px);
      }
    }
  }


  &__form {
    border-radius: 1px;
    padding: rem(30px);
    background-color: #fff;
    margin-top: rem(35px);
    position: relative;
    z-index: 10;
  }

  &__label {
    @extend .form-label;
    font-weight: bold;
    font-size: rem(15px);

  }

  &__input,
  &__textarea,
  &__select {
    @extend .form-input;
  }

  &__textarea {
    height: 130px !important;
  }

  &__buttons {
    margin-top: rem(50px);
    margin-bottom: 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__submit {
    @extend .btn-main;
    font-size: rem(13px);
    padding-bottom: rem(12.5px);
    padding-top: rem(12.5px);
    ;

    &::before {
      width: 102%;
    }

    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
      margin-bottom: rem(15px);
    }
  }

  &__required {
    color: $highlight;
    font-size: rem(13px);
  }

  &__info {
    margin-left: auto;
    color: $text-light;
    font-size: rem(13px);
  }
}