.order-contents {
  &__heading {
    @extend .account__subheading;
    margin-bottom: 0;
  }

  &__link {
    @extend .link-next;
    font-weight: bold;
    margin-top: rem(45px);
    display: block;

    &::after {
      vertical-align: middle;
    }

    @include media-breakpoint-down(lg) {
      font-size: rem(14px);
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: rem(15px);
    }
  }

  &__wrapper {
    background: #fff;
    padding: rem(20px 0);
    padding-top: 5px;
    margin-top: rem(30px);
    position: relative;
  }

  &__table {
    thead {
      th {
        font-weight: bold;
        font-size: rem(13px);

        &:first-of-type {
          padding-left: 30px !important;
        }

        &:last-of-type {
          padding-right: 30px !important;
        }
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    tbody {
      
      th:first-of-type {
        padding-left: 30px;

        @include media-breakpoint-down(sm) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      td:last-of-type {
        padding-right: 30px;

        @include media-breakpoint-down(sm) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      td {
        @include media-breakpoint-down(sm) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  &__order {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: rem(20px 0);
      border-bottom: 1px solid $border-main;
    }
  }

  &__subtotal,
  &__shipping,
  &__total {
    display: flex;
    align-items: center;
  }

  &__subtotal {
    padding: rem(30px);
    border-bottom: 1px solid $border-main;

    @include media-breakpoint-down(sm) {
      padding: rem(30px 15px)
    }
  }

  &__shipping {
    padding: rem(22px 30px);

    @include media-breakpoint-down(sm) {
      padding: rem(22px 15px)
    }
  }

  &__total {
    padding: rem(25px 30px);
    padding-bottom: rem(12px);
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: rem(25px 15px)
    }
  }

  .order {
    &__img {
      width: 70px;
      height: 70px;
      margin-right: rem(30px);
      display: inline-block;
      vertical-align: bottom;
      border: 1px solid $border-main;

      @include media-breakpoint-down(sm) {
        display: block;
        margin: auto;
        margin-bottom: 15px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    th {
      max-width: 570px;

      @include media-breakpoint-down(lg) {
        max-width: 340px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    td,
    th {
      padding: rem(30px 0);

      @include media-breakpoint-down(sm) {
        padding: rem(10px 0);
        border: none;
      }
    }

    &__main {
      display: inline-block;
      width: 74.5%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
      }
    }

    &__title {
      line-height: 1;
      margin-bottom: rem(15px);
      color: $text-color;
      font-size: rem(20px);

      a {
        color: $text-color;

        &:hover {
          color: $text-color;
        }
      }
    }

    &__sku {
      color: $text-light;
      font-size: rem(13px);
      font-weight: 400;

      span {
        color: $highlight;
        font-weight: 600;
      }
    }

    &__qty {
      color: $text-color;
      font-size: rem(20px);
      text-align: right;
      padding-right: 15px;

      @include media-breakpoint-down(sm) {
        text-align: center;
        padding: 0;

        &::before {
          content: 'Количество:';
          font-size: 14px;
        }
      }
    }

    &__price {
      color: $highlight;
      font-weight: bold;
      font-size: rem(25px);

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      span {
        color: $text-light;
        font-weight: normal;
        font-size: rem(20px);
        font-family: 'Source Sans Pro', sans-serif;
      }
    }
  }

  .subtotal {
    &__heading {
      color: $text-color;
      font-size: rem(20px);
      margin-bottom: 0;
    }

    &__price {
      margin-left: auto;
      color: $highlight;
      font-weight: bold;
      font-size: rem(30px);

      span {
        color: $text-light;
        font-weight: normal;
        font-size: rem(20px);
        font-family: 'Source Sans Pro', sans-serif;
      }
    }
  }

  .shipping {
    &__heading {
      color: $text-color;
      font-size: rem(13px);
      font-weight: 600;

      span {
        color: $text-light;
        display: block;
        font-size: rem(13px);
        font-weight: 400;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &__price {
      color: $highlight;
      font-weight: bold;
      font-size: rem(30px);
      margin-left: auto;

      span {
        font-size: rem(20px);
        color: $text-light;
        font-weight: normal;
        font-family: 'Source Sans Pro', sans-serif;
      }

      &--free {
        color: $text-light;
      }
    }


  }

  .total {
    &__heading {
      color: $text-color;
      font-size: rem(30px);
      font-weight: bold;
    }

    &__price {
      margin-left: auto;
      color: $highlight;
      font-weight: bold;
      font-size: rem(40px);
      line-height: 1;

      span {
        color: $text-light;
        font-size: rem(30px);
        font-weight: normal;
        font-family: 'Source Sans Pro', sans-serif;
      }
    }
  }
}