.account {
    .nav {
        &__menu {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;

            @include media-breakpoint-down(md) {
                margin-bottom: rem(30px);
            }
        }

        &__item {
            border-bottom: 1px solid #e6e6e6;
            ;

            &:last-of-type {
                border: none;
            }

        }

        &__link {
            display: flex;
            @extend .link-next;
            padding: rem(14px 20px);
            background: #fff;
            transition: 150ms;

            &:hover {
                transition: 150ms;
            }


            &::after {
                margin-left: auto;
            }

            &--active {
                background-color: #b3a18f;
                color: #fff;

                &:hover {
                    background-color: #b3a18f;
                    color: #fff;

                }

                &::after {
                    filter: brightness(2);
                }
            }

        }
    }
}
