.reviews {
  &__heading {
    font-weight: bold;
    font-size: rem(20px);
    margin-bottom: rem(20px);

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }



  &__review {
    padding: rem(40px 0 24px 0);
    border-bottom: 1px solid $border-main;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    margin-top: rem(40px);
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .link-arrow {
      margin-left: auto;
  
      @include media-breakpoint-down(md) {
        margin: auto;
      }
  
    }
  }

  &__add {
    @extend .btn-main;
    font-size: rem(13px);
    padding: rem(12.5px 18.5px);
    line-height: 1;

    &--video {
      margin-left: rem(12px);

    }

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      width: 100%;
      text-align: center;


      &--video {
        margin-left: 0;
        margin-bottom: 15px;

      }
    }
  }
}