.bonus {
    &__heading {
        text-align: left;
        line-height: 1;
        margin-bottom: 0;

        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: rem(20px);
        }
    }

    &__wrapper {
        @include media-breakpoint-down(md) {
            margin-top: rem(60px);
        }
    }

    &__link {
        @extend .link-next;
        display: block;
        text-align: right;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__tasks {
        margin-top: rem(50px);
        margin-bottom: rem(30px);


        @include media-breakpoint-down(md) {
            margin-top: rem(30px);
        }
    }

    &__task {
        background-color: #fff;
        margin-bottom: rem(30px);
    }
}

.task {

    [class*=col-] {
        padding: rem(22px);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:last-of-type {
            background-color: #e6e6e6;
            ;
        }

        @include media-breakpoint-down(md) {
            align-items: center;
        }
    }

    &__heading {
        color: #262626;
        font-size: rem(30px);
        text-align: left;
        line-height: 1;

        &::before,
        &::after {
            content: none;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: rem(20px);
        }
    }

    &__price {
        color: #998a7a;
        ;

        span {
            color: $greyed;
            font-size: rem(25px);
            font-family: 'Source Sans Pro', sans-serif;
        }
    }

    &__perform {
        @extend .btn-main;
        font-size: rem(13px);
        padding: rem(12.5px 18px);
        margin-top: auto;
    }

    &__lead {
        font-size: rem(15px);
        margin-bottom: rem(16px);
        font-weight: 600;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__info {
        color: #262626;
        font-size: rem(13px);
        margin-bottom: rem(20px);
        line-height: 1.3;

        &:last-of-type {
            margin-bottom: 0;
            color: #999999;
        }

        span {
            color: $accent;
            font-weight: 600;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__finished {
        font-weight: 300;
        font-size: rem(20px);
        margin-bottom: rem(20px);
        line-height: 1.1;
        color: #262626;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__submit {
        @extend .btn-main;
        font-size: rem(13px);
        padding: rem(12.5px 18px);
        margin-bottom: auto;

        @include media-breakpoint-down(md) {
            margin-bottom: rem(20px);
        }
    }
}
