.cart {

  &__heading {
    margin-bottom: rem(36px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: rem(20px);
    }
  }

  &__link {
    @extend .link-next;
    display: block;
    text-align: right;

    &--back {
      @extend .link-prev;
      display: block;
      text-align: left;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: rem(30px);
    }
  }

  &__subheading {
    font-size: rem(30px);
    color: #262626;
    text-align: left;
    margin-bottom: rem(30px);
    line-height: 1;

    &::before {
      color: $accent;
      display: inline-block;
      margin-right: rem(25px);
      height: auto;
      background-color: transparent;
      left: unset;
      top: unset;
      width: auto;
      margin-left: 0;
      position: relative;
    }

    &::after {
      content: none;

    }

    &--1 {
      &::before {
        content: '1';
      }
    }

    &--2 {
      &::before {
        content: '2';
      }
    }

    &--3 {
      &::before {
        content: '3';
      }
    }

    &--4 {
      &::before {
        content: '4';
      }
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: rem(20px);
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    background-color: #fff;
  }

  &__item {
    padding: rem(30px);
    border-bottom: 1px solid #e6e6e6;
    ;

    @include media-breakpoint-down(md) {
      position: relative;

      [class*="col-"] {
        position: static;
      }
    }



  }

  &__promocode {
    margin-bottom: rem(40px);
  }

  .item {

    &__img {
      max-width: 170px;
      max-height: 170px;
      border: 1px solid #e6e6e6;
      background-color: #fff;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      @include media-breakpoint-only(lg) {
        padding-right: 15px;
      }

      @include media-breakpoint-down(md) {
        margin: auto;
        margin-bottom: rem(15px);
      }
    }

    &__title {
      font-size: rem(25px);
      margin-bottom: rem(50px);
      color: #262626;

      @include media-breakpoint-down(md) {
        text-align: left;
        font-size: 13px;
        margin-bottom: 8px;
      }
    }

    &__link {
      color: #262626;
    }

    &__meta {
      display: flex;
      position: absolute;
      bottom: 0;

      @include media-breakpoint-down(md) {
        justify-content: center;
        width: 100%;
        position: relative;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-bottom: 15px;
      }
    }

    &__sku {
      color: $greyed;
      font-size: rem(13px);

      span {
        color: $accent;
        font-weight: 600;

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }

    &__availability {
      margin-left: rem(65px);
      color: $greyed;
      font-size: rem(13px);

      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }

    &__price {
      font-size: rem(30px);
      color: #0f294d;
      ;
      text-align: right;
      line-height: 1;
      margin-top: 5px;

      span {
        color: $greyed;
        font-size: rem(20px);
        font-family: 'Source Sans Pro', sans-serif;
      }

      @include media-breakpoint-down(md) {
        text-align: left;
        margin: 0;
        font-size: 18px;
        margin-bottom: 20px;

        span {
          font-size: 18px;
        }
      }
    }


    &__qty {
      display: flex;
      align-items: flex-start;
      justify-content: center;

    }

    &__total {
      font-size: rem(30px);
      color: $accent;
      text-align: right;
      line-height: 1;
      width: 130%;
      margin-top: 5px;

      span {
        color: $greyed;
        font-size: rem(20px);
      }

      @include media-breakpoint-down(md) {
        text-align: center;
        margin: 0;
        width: 100%;
      }
    }

    &__remove {
      background: none;
      padding: 0;
      border: none;
      display: block;
      margin-left: auto;

      @include media-breakpoint-down(md) {
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }

    &__wishlist {
      background: none;
      padding: 0;
      border: none;
      position: absolute;
      color: #262626;
      display: flex;
      bottom: 0;
      min-width: 120px;
      right: 15px;
      align-items: center;
      justify-content: flex-end;
      font-size: rem(13px);

      svg {
        margin-left: rem(10px);

        path {
          fill: $accent;
        }
      }

      &:hover {
        color: #262626;

        svg path {
          fill: #262626;
        }
      }

      @include media-breakpoint-only(md) {
        bottom: 20px;
      }

      @include media-breakpoint-down(sm) {
        color: transparent;
        top: 55px;
        right: 15px;
        bottom: unset;

        &:hover {
          color: transparent;
        }
      }

    }

  }

  &__shipping,
  &__payment,
  &__summary,
  &__personal,
  &__footer {
    margin-bottom: rem(40px);
  }

  &__checkout {
    @extend .btn-main;
    display: flex;
    font-size: rem(15px);
    font-weight: 600;
    min-width: 230px;
    padding-left: rem(20px);
    padding-right: rem(17px);
    align-items: flex-end;
    margin-left: auto;

    svg {
      margin-left: auto;
      width: 17px;
      height: 16px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
      justify-content: center;

      svg {
        margin-left: 15px;
      }
    }
  }

}

.qty {

  &__decrease,
  &__increase {
    border: none;
    background: transparent;
    padding: rem(10px);
    line-height: 1;

    svg path {
      fill: $highlight;
    }
  }

  &__amount {
    color: $text-color;
    font-size: rem(13px);
    padding: rem(11.5px 20px);
    border-radius: 0px;
    border: 1px solid $border-main;
    line-height: 1;
  }
}

.promocode {
  &__wrapper {
    background: #ffffff;
    padding: rem(30px 0);
    z-index: 10;
    position: relative;

    @include media-breakpoint-down(md) {
      padding: rem(30px);
    }
  }

  &__heading {
    padding-left: rem(30px);
    font-size: rem(15px);
    color: #262626;

    @include media-breakpoint-down(md) {
      text-align: center;
      padding-left: 0;
    }
  }

  &__input {
    @extend .form-input;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: rem(20px 0);
    }
  }

  &__submit {
    @extend .btn-main;
    font-size: rem(13px);
    padding: rem(12.5px 20px);

    @include media-breakpoint-down(md) {
      width: 100%;

    }
  }

  &__restrictions {
    font-size: rem(13px);
    margin-bottom: 0;
    color: $greyed;

    @include media-breakpoint-down(md) {
      margin: rem(20px 0);
    }
  }

  &__link {
    @extend .link-next;
    display: block;
    padding-right: 30px;
    text-align: center;
    font-size: rem(13px);

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

.personal__form {
  background-color: #fff;
  padding: rem(30px);
}

.shipping,
.payment {
  &__radio {
    background-color: #fff;
    padding: rem(30px);
  }

  &__control {
    margin-bottom: rem(8px);
    font-size: rem(13px);
    width: 60%;
    display: flex;

    &:last-of-type {
      margin: 0;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &__label {
    padding-left: rem(14px);
    font-size: rem(13px);
  }

  &__info {
    margin-left: auto;
    color: #808080;
    width: 46%;
    text-align: left;

    @include media-breakpoint-down(md) {
      width: auto;
      text-align: right;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

  }
}

.personal {
  &__group {
    display: flex;
    align-items: center;

    &:last-of-type {
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column
    }
  }

  &__label {
    flex: 0 0 15%;
    text-align: right;
    font-size: rem(13px);
    font-weight: 600;

    @include media-breakpoint-down(md) {
      flex: 0 0 20%;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      width: 100%;
      text-align: center;
    }
  }

  &__input,
  &__textarea {
    @extend .form-input;
    flex: 0 0 40.2%;
    margin-left: rem(30px);

    @include media-breakpoint-down(md) {
      flex: 0 0 60%;
      margin-left: rem(15px);
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      margin: 0;
    }
  }

  &__textarea {
    height: 120px !important;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &__info {

    color: #808080;
    font-size: rem(15px);
    margin-left: rem(30px);
  }
}

.summary {
  &__wrapper {
    border-radius: 1px;
    background-color: #fff;
    padding: rem(40px 30px);
    position: relative;
    display: flex;
    align-items: center;

    @include gradient-line;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__heading {
    font-size: rem(30px);
    font-weight: 400;
    margin-bottom: 0;
    color: #262626;

    span {
      color: $accent;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__price {
    margin-left: auto;
    font-size: rem(50px);
    color: $accent;
    line-height: 38px;


    span {
      color: $greyed;
      font-size: rem(30px);
      vertical-align: middle;
      transform: translateY(-6px);
      display: inline-block;
      line-height: 1;
      font-family: 'Source Sans Pro', sans-serif;
    }

    @include media-breakpoint-down(md) {
      margin: auto;

      span {
        transform: none;
      }
    }
  }
}