.compare {
    &__wrapper {
        padding-bottom: rem(130px);
        
         @include media-breakpoint-down(md) {
             padding-bottom: rem(40px)
        }

    }

    &__heading {
        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: rem(30px);
        }
    }

    &__link {
        @extend .link-next;
        display: block;
        text-align: right;
        line-height: 1;
        
        &::after {
            vertical-align: initial;
        }

        @include media-breakpoint-only(lg) {

            &::after {
                vertical-align: middle;
            }
        }

        @include media-breakpoint-down(md) {
            text-align: center;

            &::after {
                vertical-align: middle;
            }
        }
    }

    &__filters {
        margin-top: rem(40px);
        margin-bottom: rem(30px);

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    &__sidebar {
        background-color: #fff;
        padding: rem(20px);
        overflow: hidden;
        z-index: 10;
    }

    &__list {
        margin-top: auto;
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        &--headings {
            color: $text-light;
            font-size: rem(13px);

            li {
                padding: 8px 0;
                
                 @include media-breakpoint-only(lg) {
                    padding: 7px 0;
                }
            }
        }

        &--values {
            text-align: right;
            font-size: rem(15px);
            font-weight: 600;

            li {
                padding: 6.5px 0;
                

                @include media-breakpoint-down(lg) {
                    padding: 5px 0;
                }
            }
        }
    }

    &__items {
        flex-wrap: nowrap;
        overflow-x: auto;

        .os-content {
            display: flex;
        }
    }

    &__item {
        border-top: 1px solid #e6e6e6;;



        &:last-of-type {
            border-bottom: 1px solid #e6e6e6;;
        }
    }

    &__product {
        margin-bottom: rem(30px);
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: rem(45px);
            
            .product__info {
                height: 220px;
            }
        }
    }

    &__buttons {
        opacity: 1;
        width: 100%;
        text-align: left;
        margin-top: rem(20px);
        z-index: 100;
        right: unset;
        bottom: unset;
        position: relative;
    }

    &__addtocart,
    &__remove {
        @extend .btn-main;
        padding: rem(10px 20px);
        font-size: rem(13px);

        @include media-breakpoint-down(lg) {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: rem(15px);
        }
        
         &::before{
            width: 103%;
        }
    }

    &__remove {
        margin-left: rem(10px);
        

        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }
    }
}
