.contacts {

  &__heading {
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: rem(20px);
    }
  }

  &__subheading {
    margin-bottom: rem(40px);
  }


  // &__link {
  //   @extend .link-next;
  //   text-align: right;
  //   display: block;

  //   @include media-breakpoint-down(md) {
  //     text-align: center;
  //   }
  // }

  &__company {
    margin: rem(45px 0);

    @include media-breakpoint-down(md) {
      margin: rem(20px 0);
    }
  }

  &__map {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      text-align: center;

      img {
        width: 100%;
      }
    }
  }

  &__location {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(20px);
      margin-bottom: rem(20px);
    }
  }

  &__feedback {

    @include media-breakpoint-down(md) {
      margin-bottom: rem(60px);
    }
  }
}

.company {
  &__wrapper {
    background-color: white;
    margin: 0;
    line-height: 20px;
    min-height: 300px;
    font-size: rem(15px);
  }

  &__info-registry {
    margin-bottom: rem(12px);

    span {
      font-weight: bold;
      color: $highlight;
    }
  }

  &__info-address {
    margin-bottom: rem(20px);
    color: $text-color;
  }

  &__col {
    flex: 0 0 25%;
    padding: rem(30px);
    color: $text-light;
    border-right: 1px solid $border-main;

    &:first-of-type {
      flex: 0 0 27%;
    }

    &:nth-of-type(3) {
      flex: 0 0 27%;
    }

    &:last-of-type {
      flex: 0 0 21%;
      border: none;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
      text-align: center;

      &:first-of-type {
        flex: 0 0 50%;
      }

      &:nth-of-type(3) {
        flex: 0 0 50%;
      }

      &:last-of-type {
        flex: 0 0 50%;
        border: none;
      }
    }


    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      border: none;
      text-align: center;

      &:first-of-type {
        flex: 0 0 100%;
        border: none;
      }

      &:nth-of-type(3) {
        flex: 0 0 100%;
        border: none;
      }

      &:last-of-type {
        flex: 0 0 100%;
        border: none;
      }
    }

  }

  &__heading {
    color: $text-color;
    font-weight: bold;
    font-size: rem(20px);
    margin-bottom: rem(20px);
  }



  &__link {
    color: $text-color;
    font-weight: bold;

    &:hover {
      color: $text-color;
    }
  }

  &__phones {
    font-size: rem(13px);
    margin-bottom: rem(30px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__tel {
    font-size: rem(25px);
    color: $text-light;
    display: block;
    margin-bottom: 4px;

    span {
      font-weight: bold;
      color: $highlight;
    }

    &:hover {
      color: $text-light;
      text-decoration: none;
    }
  }

  &__small {
    display: block;
    margin-bottom: rem(30px);
    font-size: rem(13px);
  }

  &__mail {
    display: block;
    color: white;
    margin-bottom: rem(30px);

    &:hover {
      color: white;
    }
  }

  &__time {
    font-weight: bold;
    font-size: rem(25px);
    color: $highlight;
    margin-bottom: rem(4px);
  }
}

.location {
  &__step {
    border-radius: 0 0 4px 4px;
    background-color: white;
    position: relative;
    transition: 200ms;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: $shadow;
      transition: 200ms;

      .location__details {
        background-color: $bg-dark;
        transition: 200ms;
      }

      .location__text {
        color: white;
        transition: 200ms;
      }
    }

    @include media-breakpoint-only(lg) {
      height: 375px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 100%;
  }

  &__details {
    flex-grow: 1;
    background-color: white;
  }

  &__heading,
  &__text {
    padding: rem(24px);
    margin-bottom: 0;
  }

  &__heading {
    font-weight: bold;
    font-size: rem(30px);
    color: $highlight;
  }

  &__text {
    font-size: rem(13px);
    padding-top: 0;
    padding-bottom: rem(46px);
    color: $text-light;
    transition: 200ms;
  }
}

.feedback {
  &__form {
    border-radius: 1px;
    padding: rem(30px);
    background-color: white;
  }

  &__captcha {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__group {
    
    .modal & {
      margin-bottom: rem(20px);
    }
  }

  &__label {
    @extend .form-label;
    font-size: rem(15px);
    font-weight: bold;
    margin-bottom: rem(12px);
  }

  &__select {
    padding: rem(12px 16px);
  }

  &__input,
  &__textarea,
  &__select {
    @extend .form-input;
  }

  &__textarea {
    height: 130px !important;

  }

  &__submit {
    @extend .btn-main;
    margin-left: auto;

    &::before {
      width: 102%;
    }

    @include media-breakpoint-down(md) {

      width: 100%;

    }
  }
}