.frontpage {
  position: relative;
  margin-top: rem(30px);

  @include media-breakpoint-up(lg) {
    margin-top: rem(-60px);
  }

  &__slider {

    .slick-dots {
      @extend .slider-dots;
      bottom: 20px;
      right: 0;
      left: -165px;

      @include media-breakpoint-down(lg) {
        left: 0;
        margin: auto
      }

      button {
        @extend .slider-dot;
      }

    }

    .slick-active {

      button {
        @extend .slider-dot--active;
      }
    }

  }

  &__slide {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #17171a;
    color: #fff;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      min-height: 560px;
    }
  }

  .slide {

    &__slogan {
      color: #808080;
      font-style: italic;
      line-height: 20px;
      display: block;
      margin-top: rem(68px);
    }

    &__heading {
      color: #e6c78a;
      font-size: rem(70px);
      font-weight: 300;
      line-height: 70px;
      margin-top: rem(40px);
      margin-bottom: rem(42px);

      @include media-breakpoint-down(md) {
        font-size: rem(40px);
        line-height: 1;
        text-align: center;
      }
    }

    &__text {
      color: #cccccc;
      margin-bottom: rem(48px);

      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    &__link {
      @extend .link-next;

      @include media-breakpoint-down(md) {
        text-align: center;
        display: block;
      }

    }
  }

  &__hero {
    
  }

  &__banners {
    padding-bottom: rem(15px);

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__novelty {
    padding-bottom: rem(45px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(35px);
    }
  }

  &__compilation {
    padding-bottom: rem(50px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(35px);
    }
  }

  &__techs {
    padding-top: rem(50px);
    padding-bottom: rem(80px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(60px);
    }
  }

  &__best {
    padding-top: rem(60px);
    padding-bottom: rem(60px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(35px);
    }
  }

  &__cats {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }

  &__about {
    
    @include media-breakpoint-down(md) {
      margin-bottom: rem(60px);
    }
  }

}


.hero-carousel {
  position: relative;
  width: 100%;

  .slick-dots {
    @extend .slider-dots;
    bottom: 50px;
    left: 0;
    width: 100%;

    button {
      @extend .slider-dot;
    }

    .slick-active button {
      @extend .slider-dot--active;
    }

  }
}

.hero-carousel__cell {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(lg) {
    height: 590px;
  }
}

.hero-content .heading-flag {
  width: 100%;
  max-width: 700px;
}

.hero-content .heading-flag__title,
.hero-content .heading-flag__subtitle {
  color: #fff;
}

.hero-content .heading-flag__title {

  @include media-breakpoint-down(md) {
    font-size: rem(64px);
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(56px);
  }

  @include media-breakpoint-down(xs) {
    font-size: rem(48px);
  }
}

.hero-content .heading-flag__subtitle {

  @include media-breakpoint-down(xs) {
    font-size: rem(16px);
  }
}

.hero-content .heading-flag__line {
  margin-bottom: rem(25px);

  @include media-breakpoint-up(md) {
    width: 306px;
  }
}

.banners {
  &__banner {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 240px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: 250ms;

    @include media-breakpoint-down(md) {
      height: 350px;
      display: inline-flex;
    }

    @include media-breakpoint-down(sm) {
      height: 170px;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      transition: 250ms;

      .banner__img {
        filter: grayscale(0);
        transition: 250ms;
      }
    }


    &--big {
      height: 510px;

      @include media-breakpoint-down(md) {
        height: 350px;
      }

      @include media-breakpoint-down(sm) {
        height: 170px;
      }

    }

  }


  &__inner {
    @include media-breakpoint-down(md) {
      transform: translateX(-50vw);
      width: 100vw;
    }
  }


  &__header {
    align-items: center;
    margin-top: rem(50px);
    margin-bottom: rem(35px);

    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-top: rem(20px);
      margin-bottom: rem(35px);
    }
  }

  &__counter {
    color: #808080;
    font-size: rem(15px);
    line-height: 20px;

    @include media-breakpoint-down(md) {
      display: none
    }

  }

  &__count {
    color: #e6c78a;
  }

  &__link {
    @extend .link-next;
    font-size: rem(15px);
    letter-spacing: -0.15px;
    display: block;
    text-align: right;

    @include media-breakpoint-down(md) {
      text-align: center;
    }


  }
}

.banner {
  &__heading {
    z-index: 10;
    padding: rem(20px 30px);
    margin-bottom: 0;
    position: relative;
    color: #262626;
    display: inline-block;
    background: #fff;
    margin: 0 auto;
    text-align: center;

    span {
      color: #999999;
      font-size: rem(13px);
      display: block;
    }

    @include media-breakpoint-down(md) {
      padding: rem(16px);
    }


    &--big {
      font-size: rem(30px);
      min-width: 430px;

      @include media-breakpoint-down(md) {
        font-size: rem(25px);
        min-width: 100%;
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(18px);
      }

    }

    &--medium {
      font-size: rem(20px);
      min-width: 230px;

      @include media-breakpoint-down(md) {
        font-size: rem(25px);
        min-width: 100%;
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(18px);
      }
    }
  }

  &__img {
    background-color: #ffffff;
    min-width: 230px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    filter: grayscale(100);
    transition: 250ms;

    @include media-breakpoint-down(md) {
      min-width: 100%;
    }

    &--big {
      min-width: 430px;

      @include media-breakpoint-down(md) {
        min-width: 100%;
      }
    }


  }


}

.cats {

  &__carousel {
    display: flex !important;
    text-align: center;
    align-items: center;

    &--dropdown {
      width: 1170px;

      @include media-breakpoint-down(lg) {
        width: 100vw;

      }

      .cats__item {
        font-size: rem(13px);
        max-width: 120px;
        padding-bottom: 30px;
        border-bottom: 3px solid transparent;

        &:hover {
          font-weight: 700;
          text-decoration: none;
          border-bottom: 3px solid #b3a18f;

          .cats__img {
            border: 1px solid #b3a18f;
            box-shadow: none;
          }

          .cats__title {
            padding: rem(0 10px);

          }

        }
      }

      .cats__img {
        width: 120px;
        height: 120px;
        border: 1px solid #e6e6e6;

        img {
          max-height: 70px;
        }
      }

      .cats__title {
        padding: rem(0 15px);
      }

      .cats__btn {
        box-shadow: 0 0 10px rgba(20, 24, 26, 0.15);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #fff;
        border-radius: 50%;

        &--left {
          left: -20px;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 10;
          transform: translateY(-45px) rotate(180deg);

          @include media-breakpoint-down(lg) {
            left: 20px;
          }
        }

        &--right {
          right: -20px;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 10;
          transform: translateY(-45px);

          @include media-breakpoint-down(lg) {
            right: 20px;
          }
        }
      }

      .slick-disabled {
        display: none !important;
      }
    }
  }

  &__btn {
    border: none;
    background: transparent;
    margin-top: -70px;
  }

  &__item {
    color: #262626;
    font-size: rem(15px);
    max-width: 140px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;

    &:hover {
      color: #262626;

      .cats__img {
        box-shadow: 0 0 20px rgba(20, 24, 26, 0.15);
        transition: 200ms;
      }
    }


  }

  &__img {
    width: 140px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30px);
    transition: 200ms;
  }
}

.cats__content {

  @include media-breakpoint-down(xs) {
    margin-left: -8px;
    margin-right: -8px;

    .row {
      margin-left: -8px;
      margin-right: -8px;
    }

    [class*=col] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.cats__header {
  margin-bottom: rem(45px);
}

.cats-elem {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  transition: box-shadow 250ms;

  @include media-breakpoint-down(md) {
    margin-bottom: rem(30px);
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 1rem;
  }
}

.cats-elem__img {
  margin-bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.cats-elem__foot {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: rem(15px 20px);
  background-color: #fff;
  transition: background-color 250ms;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    padding-left: rem(28px);
    padding-right: rem(28px);
  }
}

.cats-elem__title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: rem(20px);
  line-height: 1.15;
  color: $text-color;
  transition: color 250ms;
  text-decoration: none;

  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-bottom: rem(8px);
    font-size: rem(16px);
  }
}

.cats-elem__title--bigger {
  font-size: rem(30px);
}

.cats-elem__total {
  display: block;
  font-weight: bold;
  font-size: rem(15px);
  line-height: 1.15;
  color: $highlight;
  transition: color 250ms;
  text-decoration: none;
}

.cats-elem:hover {
  box-shadow: $shadow;
  text-decoration: none;

  .cats-elem__foot {
    background-color: $bg-dark;
  }

  .cats-elem__title {
    color: $highlight;
  }

  .cats-elem__total {
    color: #fff;
  }
}

.partners {
  &__heading {
    margin-bottom: rem(45px);
  }

  &__carousel {
    display: flex !important;
    text-align: center;
    align-items: center;
  }

  &__btn {
    border: none;
    background: transparent;
    margin-top: 10px;
  }

  &__partner {
    color: #262626;
    font-size: rem(15px);
    max-width: 320px;
    height: 140px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    margin-top: 10px;
    transition: 250ms;
    position: relative;
    filter: grayscale(100);
    @include gradient-line;

    &::after {
      margin: auto;
      left: 0;
      right: 0;
      width: 0;
      transition: 200ms;
    }

    &:hover {
      color: #262626;
      box-shadow: 0 0 20px rgba(20, 24, 26, 0.15);
      transition: 200ms;
      filter: grayscale(0);

      &::after {
        width: 100%;
        transition: 200ms;
      }



    }


  }

}

.compilation__header {
  margin-bottom: rem(50px);
}

.compilation__content {
  justify-content: center;

  @include media-breakpoint-down(sm) {
    margin-left: -8px;
    margin-right: -8px;
  }

  [class*=col] {

    @include media-breakpoint-down(sm) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  
}

.compilation-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem(30px);
  color: $text-color;
  background-color: #fff;
  transition: box-shadow 250ms;

  @include media-breakpoint-down(sm) {
    margin-bottom: rem(16px);
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    max-width: none;
  }
}

.compilation-item__img {
  flex: none;
  width: 100%;
  margin: 0;
  text-align: center;

  @include media-breakpoint-down(xs) {
  }

  @include media-breakpoint-up(xl) {
    width: 47.368421%;
  }

  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.compilation-item__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: rem(24px 20px 24px 20px);
  text-align: center;
  background-color: #fff;
  transition: background-color 250ms;

  @include media-breakpoint-down(xs) {
    padding: rem(15px);
  }

  @include media-breakpoint-up(xl) {
    padding: rem(24px 30px);
    text-align: left;
  }
}

.compilation-item__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: rem(30px);
  line-height: 1.15;
  color: $text-color;
  transition: color 250ms;

  @include media-breakpoint-down(xs) {
    font-size: rem(24px);
  }
}

.compilation-item__info {
  margin-bottom: rem(20px);
  color: $text-light;

  @include media-breakpoint-up(xl) {
    margin-bottom: rem(45px);
  }
}

.compilation-item__desc {
  flex-grow: 1;
  margin-bottom: rem(18px);
  line-height: 1.4;

  @include media-breakpoint-down(xs) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: rem(24px);
  }
}

.compilation-item__foot {
  display: flex;
  justify-content: space-between;
}

.compilation-item:hover {
  box-shadow: $shadow;
  color: #fff;
  text-decoration: none;

  .compilation-item__body {
    background-color: $bg-dark;
  }

  .compilation-item__title {
    color: $highlight;
  }

  .highlight {
    color: #fff;
  }

  .link-arrow:hover::after {
    filter: brightness(100);
  }
}



.techs__heading {
  margin-bottom: rem(45px);
  color: #fff;
}

.techs__list {
  margin-bottom: rem(-40px);
  justify-content: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(-68px);
  }
}

.techs__item {
  margin-bottom: rem(40px);
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(68px);
  }
}

.techs__item-img {
  margin-bottom: rem(16px);
  display: inline-block;
}

.techs__item-title {
  margin-bottom: rem(4px);
  font-weight: bold;
  font-size: rem(25px);
  color: #fff;
}

.techs__item-text {
  color: $text-light;
}

.novelty,
.best {
  &__header {
    margin-bottom: rem(50px);
  }

  &__counter {
    @extend .banners__counter;
  }

  &__count {
    @extend .banners__count;
  }

  &__link {
    @extend .banners__link;
  }
}

.about {

  .no-gutters {
    @include media-breakpoint-down(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin: 0;
    padding: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url(../img/general/overlay.png);
      background-position: 0 0;
    }
  }

  &__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heading-flag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 80%;
    color: #fff;
  }

  &__heading {
    color: #fff;
    font-size: rem(40px);
    font-weight: bold;
    margin-bottom: rem(35px);
    line-height: 1.15;
  }

  &__article {
    position: relative;
    padding: rem(48px 24px);
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: $bg-dark;
    background-image: url(../img/content/perspective.png);
    background-repeat: no-repeat;
    background-position: right -55px bottom -70px;

    @include media-breakpoint-up(sm) {
      padding-top: rem(56px);
      padding-right: 16.666667%;
      padding-bottom: rem(72px);
      padding-left: 9.666667%;
    }

    p {
      color: $text-light;
      font-size: rem(15px);
    }
  }

  .link-arrow {
    margin-top: rem(24px);
    color: #fff;

    &:hover::after {
      filter: brightness(100);
    }
  }
}