.help {

  &__wrapper {
    
    @include media-breakpoint-down(md) {
      margin-bottom: rem(60px);
    }
  }

  &__heading {
    line-height: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
      text-align: center;
    }

  }

  &__link {
    @extend .link-next;
    display: block;
    text-align: right;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__return,
  &__ticket {
    @extend .link-next;
    padding: rem(12px 0);
    border-bottom: 1px solid $border-main;
    display: flex;
    font-weight: bold;

    &:first-of-type {
      border-top: 1px solid $border-main;
    }

    &::after {
      margin-left: auto;
    }
  }

  &__navigation {
    margin-top: rem(30px);
  }

  &__contact {
    padding: rem(30px);
    background-color: white;

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: rem(20px);
    }
  }

  &__subheading {
    color: $text-color;
    font-size: rem(30px);
    text-align: left;
    width: 80%;
    line-height: 1;
    margin-bottom: rem(35px);

    &::before,
    &::after {
      content: none;
    }


    @include media-breakpoint-down(md) {
      text-align: center;
      width: 100%;
    }
  }

  &__small {
    color: $text-light;
    font-size: rem(13px);
    display: block;
  }

  &__tel {
    color: $highlight;
    font-size: rem(25px);
    display: block;
    line-height: 1.15;

    &:hover {
      color: $highlight;
      text-decoration: none;
    }

    span {
      color: #808080;
    }

    @include media-breakpoint-only(lg) {
      font-size: 1.5rem;
    }
  }

  &__callback {
    @extend .link-next;
    font-size: rem(13px);
    letter-spacing: -0.13px;
    margin-top: rem(25px);
    display: block;
    pointer-event: none;
    display: inline-block;


  }


  &__content {
    margin-top: rem(50px);
  }

  &__info {
    color: $text-color;
    font-size: rem(15px);
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-top: rem(20px);
      text-align: center;
    }
  }

  &__features {
    margin-top: rem(30px);

  }

  &__feature {
    padding: rem(50px 35px);
    background: white;

    @include media-breakpoint-only(lg) {
      height: 280px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__handbook {
    padding: rem(25px 30px);
    background: white;
    height: 100%;
  }

  &__bottom {
    margin-top: rem(30px);

    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }
}

.navigation {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: rem(11.5px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    padding: rem(9px 20px);
    font-size: rem(13px);
    color: $text-color;
    display: flex;
    align-items: center;
    background: white;
    transition: 150ms;
    border-radius: 1px;

    &:hover {
      color: white;
      transition: 150ms;
      text-decoration: none;
      background-color: $bg-dark;

      svg path {
        fill: white;
        transition: 150ms;
      }
    }

    svg {
      margin-left: auto;
      transition: 150ms;

      path {
        fill: $highlight;
      }
    }
  }
}

.feature {

  &__icon {
    width: 90px;
    height: 90px;
    background: #0f294d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;

    &--1 { background-color: $green; }
    &--2 { background-color: $red; }
    &--3 { background-color: $highlight; }

    svg path {
      fill: #fff;
    }
  }

  &__text {
    margin-top: rem(30px);
    margin-bottom: 0;
    text-align: center;
    color: $text-color;
    font-weight: bold;
    font-size: rem(20px);
    line-height: 1;
  }
}

.handbook {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 49%;
    display: inline-flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    margin-bottom: rem(6px);

    &:last-of-type {
      margin-bottom: 0;
    }


    &::before {
      content: '';
      position: relative;
      top: 0.18em;
      display: block;
      flex-shrink: 0;
      width: 10px;
      height: 15px;
      // transform: rotate(-90deg);
      margin-right: rem(10px);
      transition: 150ms;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.625' height='15' viewBox='0 0 9.625 15'%3E%3Cpath d='M588.6 1677.81l6.1 6.21a.423.423 0 0 1 .12.3.46.46 0 0 1-.12.3l-6.1 6.2' fill='none' stroke='%23bf9e7c' stroke-width='2' fill-rule='evenodd' transform='translate(-586.188 -1676.81)'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }

  }

  &__link {
    font-weight: bold;
    color: $text-color;
    font-size: rem(15px);

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}