.magazine {

  &__heading {
    line-height: 1;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__link {
    @extend .link-next;
    display: block;
    text-align: right;

    @include media-breakpoint-down(md) {
      margin-top: rem(20px);
      text-align: center;
    }
  }

  &__articles {
    margin-bottom: rem(45px);
  }

  &__filters {
    margin-top: rem(40px);
    margin-bottom: rem(15px);

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    height: 270px;
    position: relative;
    background-repeat: no-repeat;
    margin: rem(15px 0);
    background-size: cover;

    &--big,
    &--huge {
      height: 570px;

      @include media-breakpoint-down(md) {
        height: 270px;
      }
    }

    &:hover {
      text-decoration: none;

      .item__title {
        color: $highlight;
        background-color: $bg-dark;
        transition: 200ms;
      }
    }
  }

  .item {
    &__tags {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 10;
    }

    &__tag {
      display: inline-block;
      color: #ffffff;
      padding: rem(10px 16px);
      border: none;
      font-weight: bold;
      text-shadow: 0.5px 0 1px rgba(#000, 0.5);
      margin-right: rem(6px);
    }

    &__title {
      color: $text-color;
      font-size: rem(20px);
      line-height: 1;
      text-align: left;
      z-index: 10;
      background-color: #fff;
      width: 100%;
      padding-left: rem(30px);
      padding-right: rem(30px);
      transition: 200ms;
      margin-bottom: 0;

      &--huge {
        padding: rem(35px 40px);
        font-size: rem(35px);

        @include media-breakpoint-down(md) {
          font-size: rem(20px);
          padding: rem(25px 30px);
        }
      }


      &--big {
        padding-top: rem(28px);
        padding-bottom: rem(28px);
        font-size: rem(25px);

        @include media-breakpoint-down(md) {
          font-size: rem(20px);
          padding-top: rem(25px);
          padding-bottom: rem(25px);
        }
      }

      &--medium {
        padding-top: rem(30px);
        padding-bottom: rem(30px);

        @include media-breakpoint-down(md) {
          font-size: rem(20px);
          padding-top: rem(25px);
          padding-bottom: rem(25px);
        }
      }

      &--small {
        padding-top: rem(25px);
        padding-bottom: rem(25px);
        font-size: rem(17px);
        
        @include media-breakpoint-down(md) {
          font-size: rem(20px);
        }
      }

      span {
        display: block;
        max-width: 740px;
      }
    }
  }
}