.sold {
  &__header {

    .link-arrow {
      text-align: right;
      display: block;
      // margin-top: rem(18px);
  
      @include media-breakpoint-down(md) {
        // margin-top: rem(20px);
        text-align: center;
      }
    }
  }

  &__heading {
    line-height: 1.15;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      text-align: center;
      line-height: 1.15;
      font-size: 26px;
    }
  }

  &__wrapper {
    margin-top: rem(60px);

    @include media-breakpoint-down(md) {
      margin-top: rem(15px);
    }
  }

  &__content {
    margin-top: rem(35px);
    margin-bottom: rem(45px);
  }

  &__img {

    img {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(25px);
    }
  }

  &__info {
    background: $bg-light;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: rem(0px 80px);

    @include media-breakpoint-down(md) {
      padding: rem(32px 20px);
    }
  }

  &__subheading {
    font-weight: bold;
    font-size: rem(40px);
    line-height: 1.15;
    margin-bottom: rem(25px);
  }

  &__continue {
    color: $text-light;
    font-weight: bold;
    font-size: rem(20px);
    line-height: 1.3;
    margin-bottom: rem(35px);
    width: 100%;


    &::after {
      content: '';
      width: 370px;
      display: block;
      height: 1px;
      background-color: white;
      margin-top: rem(25px);
    }

  }

  &__relevant {
    font-weight: bold;
    font-size: rem(15px);
  }

  &__btn {
    @extend .btn-main;
    display: inline-block;
    margin-top: rem(25px);
    font-size: rem(13px);

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__related {
    padding-bottom: rem(60px);
  }

}