.thankyou {

  &__heading {
    line-height: 1;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__wrapper {
    margin-bottom: rem(20px);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: rem(40px);
    padding-right: rem(30px);
    background-color: white;
    margin-top: rem(35px);
    position: relative;
    transition: 250ms;

    &:hover {
      transition: 250ms;
      box-shadow: $shadow;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }

    .link-arrow {
      margin-left: rem(48px);
      margin-top: 4px;

      @include media-breakpoint-down(lg) {
        margin-left: rem(32px);
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
        margin-top: rem(20px);
        text-align: center;
      }
    }

    &:nth-of-type(2) {
      margin-bottom: rem(30px);

      .link-arrow {
        color: #fff;
      }
    }
  }

  &__choose {
    color: $text-color;
    font-weight: bold;
    font-size: rem(30px);
    margin-left: rem(30px);
    margin-right: rem(30px);
    line-height: 30px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin: 10px 0;
    }
  }

  &__number {
    color: $text-light;
    font-size: rem(15px);
    margin-left: auto;
    line-height: 1;
    display: flex;
    margin-top: 4px;

    span {
      color: $highlight;
      text-transform: uppercase;
      margin-left: rem(12px);
      font-weight: bold;
    }

    @include media-breakpoint-only(lg) {
      margin-left: auto;
      margin-right: auto;

      span {
        margin-left: 3px;
      }

    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
      margin-left: 0;

      span {
        margin-top: 10px;
        font-size: rem(35px);
        margin-left: 0;
      }
    }
  }

  &__bonus {
    color: white;
    font-weight: bold;
    font-size: rem(30px);
    margin-left: rem(30px);
    line-height: 30px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__summ {
    color: $text-light;
    font-size: rem(15px);
    margin-left: auto;
    line-height: 1;
    display: flex;
    margin-top: 4px;

    span {
      text-transform: uppercase;
      margin-left: rem(12px);
      font-family: $font-secondary;

      b {
        font-family: $font-main;
        color: #fff;
      }
    }

    @include media-breakpoint-only(lg) {
      margin-left: auto;
      margin-right: auto;

      span {
        margin-left: 3px;
      }

    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
      margin-left: 0;

      span {
        margin-top: 10px;
        font-size: rem(35px);
        margin-left: 0;
      }
    }
  }

  &__subheading {
    margin-bottom: rem(25px);
    line-height: 1;
    color: $text-color;
    font-size: rem(30px);
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      width: 80%;
    }
  }

  &__next,
  &__faq,
  &__help,
  &__opinion {
    padding: rem(25px 30px);
    padding-bottom: rem(35px);
    background: white;
    position: relative;
    transition: 200ms;

    &:hover {
      box-shadow: $shadow;
      transition: 200ms;
    }

    svg {
      position: absolute;
      display: block;
      top: 20px;
      right: 30px;
    }
  }

  &__text {
    color: $text-color;
    margin-bottom: 0;

    a {
      color: $text-color;
      font-weight: bold;
    }
  }

  &__faq {
    margin: rem(30px 0);
  }

  &__col {
    width: 49%;
    display: inline-block;
    vertical-align: top;

    &:last-of-type {
      text-align: right;
    }

    @include media-breakpoint-down(md) {
      width: 100%;

      &:last-of-type {
        width: 100%;
        text-align: left;
      }
    }
  }

  &__phones {
    display: inline-block;
    font-size: rem(30px);
    color: $text-light;
    line-height: 1;
    white-space: nowrap;
    margin-bottom: rem(12px);

    span {
      color: $highlight;
      font-weight: bold;
    }

    &:hover {
      color: $text-light;
      text-decoration: none;

      span {
        color: $highlight;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      display: block;
    }

  }

  &__worktime {
    color: $text-light;
    font-size: rem(13px);
  }

  &__opinion {
    height: 100%;
  }
}

.faq {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: baseline;


    &::before {
      content: url(../img/icons/chevron-down.svg);
      margin-right: rem(10px);
      transform: rotate(-90deg);
      transition: 150ms;
    }

    &--expanded {

      &::before {
        transform: rotate(0deg);
        transition: 150ms;
      }
    }

    &:hover {
      .faq__question {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__question {
    font-size: rem(15px);
    display: inline-flex;
    line-height: 1.3;
    margin-bottom: rem(12px);
    font-weight: normal;
  }

  &__answer {
    color: $text-light;
    margin-bottom: 0;
    display: none;
    margin-bottom: rem(12px);
    line-height: 1.3;
  }
}

.opinion {
  &__form {
    margin-top: rem(30px);
    z-index: 100;
    position: relative;
  }

  &__group {
    margin-bottom: rem(25px);
  }

  &__label {
    @extend .form-label;
  }

  &__select,
  &__textarea {
    @extend .form-input;
  }

  &__select {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
  }

  &__textarea {
    height: 260px !important;
  }

  &__submit {
    @extend .btn-main;
    font-size: rem(13px);
    padding: rem(12.5px 20px);
    font-weight: bold;

    @include media-breakpoint-down(md) {
      width: 100%;

      &::before {
        width: 101.5%;
      }
    }
  }
}